@model WebApplication1.Models.Policy
@{
    ViewBag.Title = "Details";
}



@{
    double CoverAmount = Model.cover_amount;

    double LAnnualPremium = Math.Round(CoverAmount / 250.6002, 2);
    double LOneTimePremiuim = Math.Round(LAnnualPremium * Model.payment_term, 2);

    double ELAnnualPremium = Math.Round(CoverAmount / 220.6002, 2);
    double ELOneTimePremiuim = Math.Round(LAnnualPremium * Model.payment_term, 2);




}

<div>



    <div class="jumbotron">
        <h3 class="display-4">Here is a summary of your plan</h3>
        <hr class="my-1">

        <dl class="dl-horizontal">

            <dt>
                Your Insurance Plan
            </dt>

            <dd>
                @Html.DisplayFor(model => model.plan_type)
            </dd>

            <hr class="my-1">

            <dt>
                Your Insurance Cover
            </dt>

            <dd>
                ₹@Html.DisplayFor(model => model.cover_amount)
            </dd>
            <hr class="my-1">

            @if (Model.plan_type == "Life Option")
            {
                <dt>
                    Nominee wil receive
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.payout_option) i.e Cover Amount of ₹@Html.DisplayFor(model => model.cover_amount) + additional of ₹@Html.DisplayFor(model => model.cover_amount) incase of death by accident.
                </dd>
            }
            else
            {
                <dt>
                    Nominee wil receive
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.payout_option) i.e Cover Amount of ₹@Html.DisplayFor(model => model.cover_amount)
                </dd>
            }

            <hr class="my-1">
            <dt>
                Policy Term
            </dt>

            <dd>
                @Html.DisplayFor(model => model.policy_term) Years
            </dd>
            <hr class="my-1">
            <dt>
                Premium paying term
            </dt>

            <dd>
                @Html.DisplayFor(model => model.payment_term) Years
            </dd>

            <hr class="my-1">

            @if (Model.add_on != "")
            {
                <dt>
                    Add Ons
                </dt>


                <dd>
                    @Html.DisplayFor(model => model.add_on) cover of ₹10,00,000.
                </dd>
                <hr class="my-1">

                LAnnualPremium = LAnnualPremium + 336;
                LOneTimePremiuim = LOneTimePremiuim + (Model.payment_term * 336);

                ELAnnualPremium = ELAnnualPremium + 336;
                ELOneTimePremiuim = ELOneTimePremiuim + (Model.payment_term * 336);

            }

            <dt>
                Annual Premium Amount
            </dt>

            @if (Model.plan_type == "Life Option")
            {
                <dd>
                    ₹@LAnnualPremium
                </dd>
            }
            else
            {
                <dd>
                    ₹@ELAnnualPremium
                </dd>
            }
            <hr class="my-1">
            <dt>
                One Time Payment Amount
            </dt>

            @if (Model.plan_type == "Life Option")
            {
                <dd>
                    ₹@LOneTimePremiuim
                </dd>
            }
            else
            {
                <dd>
                    ₹@ELOneTimePremiuim
                </dd>
            }






        </dl>
        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">
              
                <a class="btn btn-primary" href="@Url.Action("Index","Payment")" target="_blank">Continue to pay</a>

            </div>




        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Pay","Index","Payment")
    @Html.ActionLink("Back to List","Index")
</p>